* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik;
}

textarea:focus,
input:focus {
  outline: none;
}

li {
  list-style: none;
}

header {
  width: 100vw;
  height: 33vh;
  background-image: url("./ip-address-tracker-master/images/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  padding-top: 33px;
  text-align: center;

  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  -webkit-text-stroke: 1px black;

  font-size: 32px;
  font-weight: 500;
  line-height: 30px; /* 93.75% */
  letter-spacing: -0.286px;
}

form {
  margin-top: 31px;
  display: flex;
  text-align: center;
  justify-content: center;
}

button {
  border: none;
  height: 58px;
  width: 58px;
  background: #000;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1); */

  cursor: pointer;
}

.inp-search {
  border: none;
  width: 555px;
  height: 58px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #fff;
  /* box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1); */

  padding-left: 24px;
}

.inp-search::placeholder {
  color: rgb(44, 44, 44, 0.85);
  font-size: 18px;
  font-weight: 400;
}

.info-container {
  position: absolute;

  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1110px;
  height: 161px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  background: #fff;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.1);
  z-index: 1000000;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  padding: 43px 0;
}

li {
  padding: 0 32px;
  border-right: 1px solid rgba(0, 0, 0, 0.85);
}

li:last-child {
  border: none;
}

.label {
  margin-bottom: 13px;

  color: #2c2c2c;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.label:nth-child(even) {
  -webkit-text-stroke: 1px black;
}

.info {
  color: #2c2c2c;
  font-size: 26px;
  font-weight: 500;
  line-height: 30px; /* 115.385% */
  letter-spacing: -0.232px;
}

.location {
  -webkit-text-stroke: 1px black;
}

#map {
  height: 67vh;
  width: 100vw;
}
